extends header

block content
    p Add a new exercise
        body
        form(action='/addExercise?id=' + id, method='POST')
            p
            | Exercise:
            br
            input(type='text', name='exercise', placeholder='Enter a exercise' value='')
            br
            br
            | Exercise description:
            br
            input(type='text', name='exerciseDescription', placeholder='Enter a exercise description' value='')
            br
            br
            | Sets:
            br
            input(type='text', name='set', placeholder='Enter number of sets' value='')
            br
            | Reps:
            br
            input(type='text', name='reps', placeholder='Enter number of reps' value='')
            br
            input(type='submit', value='Submit')