extends header

block content
    p Add a new workout
        body
        form(action='/createWorkout', method='POST')
            p
            | Title: 
            br
            input(type='text', name='title', placeholder='Enter a title' value='')
            br
            br
            | Description: 
            br
            input(type='text', name='description', placeholder='Enter a description' value='')
            br
            br
            | Exercise:
            br
            input(type='text', name='exercise', placeholder='Enter a exercise' value='')
            br
            br
            | Exercise description:
            br
            input(type='text', name='exerciseDescription', placeholder='Enter a exercise description' value='')
            br
            br
            | Sets:
            br
            input(type='text', name='set', placeholder='Enter number of sets' value='')
            br
            | Reps:
            br
            input(type='text', name='reps', placeholder='Enter number of reps' value='')
            br
            input(type='submit', value='Submit')