doctype html
html
  head
    style 
      include ../stylesheet.css
      <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
  body
    div.container.listing-reg
      h1 Your fitness pal
      a.btn.btn-info-outline.btn-lg(class='button' href='/') Home

      block content