extends header

block content
  .main.container.text-xs-center
    p.lead Signup to access your fitness pal, if you have an account login to see your workout plan
    a.btn.btn-info-outline.btn-lg(class='button' href='/register') Get Started for FREE
    p.lead If you have an account login to see your workout plan
    a.btn.btn-info-outline.btn-lg(class='button' href='/login') Login
    br
    br
    a.btn.btn-info-outline.btn-lg(class='button' href='/logout') Logout
    p.lead See all workouts here
    a.btn.btn-info-outline.btn-lg(class='button' href='/workout') Workouts
    p.lead Create a workout here (You need an account)
    a.btn.btn-info-outline.btn-lg(class='button' href='/createWorkout') Create new workout

