extends header

block content
  p List of workouts
    each workout in workouts
        tr
            br
            br
            td(style="border: 1px solid green")
            | Title: #{workout.title}
            br
            | Description: #{workout.description}
            td(style="border: 1px solid green")
            br
            br
            p.lead Go to workout
            a.btn.btn-info-outline.btn-lg(class='button' href='/detailedWorkout?id='+ workout._id) Go  
    else
        tr
          br
          td No workouts was found :(
  p.lead Go back to home
  a.btn.btn-info-outline.btn-lg(href='/') Go back